<div class="row">
<section class="main col-md-9">
<article>
<h2>About</h2>
<p>My name is Karan. I'm a foreign student right now in Canada. After finishing high school in Delhi, where I am from, my father was transferred to Toronto to work as an airport manager for Air India, located in Tornto Pearson. I work in security right now, but I'm also really interested in coding and other things. I also used to enjoy playing games, but I no longer have the time. I also dream of buying an old BMW after I graduate and restoring it on my own as a project car. I'm also interested in aviation because I always enjoy looking at planes and the reasoning behind their mechanics.</p>
</article>
</section>
<aside class="col-md-3">
<h2>Coming Soon</h2>
<p>Keep checking back for important updates. LOL</p>
</aside>
</div>